In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests 
from bs4 import BeautifulSoup

In [62]:
LAL_df = pd.DataFrame()
LAC_df = pd.DataFrame()
DEN_df = pd.DataFrame()
UTA_df = pd.DataFrame()
OKC_df = pd.DataFrame()
HOU_df = pd.DataFrame()
DAL_df = pd.DataFrame()
MEM_df = pd.DataFrame()
POR_df = pd.DataFrame()
NOP_df = pd.DataFrame()
SAC_df = pd.DataFrame()
SAS_df = pd.DataFrame()
PHX_df = pd.DataFrame()
MIL_df = pd.DataFrame()
TOR_df = pd.DataFrame()
BOS_df = pd.DataFrame()
MIA_df = pd.DataFrame()
IND_df = pd.DataFrame()
PHI_df = pd.DataFrame()
BKN_df = pd.DataFrame()
ORL_df = pd.DataFrame()
WAS_df = pd.DataFrame()

team_ref = {"LAL": LAL_df,
"LAC":LAC_df,
           }

In [68]:
for team in team_ref:
    team_schedule_url = "https://www.basketball-reference.com/teams/"+ team + "/2020_games.html"
    team_schedule_html = requests.get(team_schedule_url)
    team_soup = BeautifulSoup(team_schedule_html.content, 'html.parser')
    team_table = team_soup.find('table')
    team_ref[team] = pd.read_html(str(team_table))[0]

In [69]:
LAL_df

Empty DataFrame
Columns: []
Index: []